
            <div class="input-group">
                <input type="text" class="form-control" ng-model="search">
            <span class="input-group-btn">
                <button type="button" class="btn btn-primary">搜索</button>
            </span>
            </div>
            <div class="row" style="margin-top: 50px;">
                <div class="panel panel-success">
                    <div class="panel-heading">搜索结果:共有<span class="badge">{{res}}</span>条数据</div>
                    <div class="panel-body" style="padding-top: 40px">
                        <ul class="col-md-8 col-md-offset-2">
                            <div class="row" style="margin-bottom:23px;" id="index-data" ng-repeat="val in data | filter:condition:mode">
                                <li class="col-md-8">{{val.name}}</li><div class="col-md-4" style="padding-left: 0px !important;"><button class="btn btn-success btn-sm btn-metro" ui-sref="edit" on-click="goEdit($index)">修改</button><button class="btn btn-danger btn-sm" >删除</button></div>
                            </div>


                        </ul>
                    </div>
                    <div class="panel-footer">
                        <button class="btn bg-primary col-md-offset-11"><span class="glyphicon glyphicon-arrow-left" ui-sref="index"></span></button>
                    </div>
                </div>

            </div>
